@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html{

    background-color: rgb(164, 164, 224);

}

header{
    align-items: center;
    color: rgb(42, 42, 92);
}

body{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(42, 42, 92);
}

.respuesta-comp{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(35, 35, 92);
    border-radius: 20px;
    padding: 30px;
}

.Caja{
    margin:25px
}

.mensaje{
    font-size: 50px;
}

.img-vs{
    border-radius: 20%;
}

.botonataque{
    width: 200px;
    border-radius: 50%;
    margin: 20px;
}

.botonataque:hover{
    border: 2px solid rgb(35, 35, 92);
    cursor: pointer;
    margin: 18px;
}